{% extends 'blog/base.html' %}
{% block content %}
{% load embed_video_tags %}
  <div>
    <div>
        <p style="font-size: 50px">{{videos.title}}</p>

        <div>


            {% video videos.video_key  as youtube  %}
            <iframe class="embed-responsive-item" src="{{videos.video_key}}" frameborder="0" allowfullscreen style="width: 900px; height: 600px"></iframe>
            {% endvideo %}
            <a href="{% url 'video_delete' video_id=videos.id %}">delete</a>
        </div>
    </div>
</div>
{% endblock %}

