<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video List</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/3.2.0/css/bootstrap-theme.miin.css">

</head>
<body>
  <header class="page-header" style="overflow: auto;">
    <h1 style="display: inline;">Video List</h1>
    <a class="btn btn-default" href="/video/new" style="float: right;">New Video</a>
  </header>
  <div class="row">
    <div class=cil-md-1>
      {% for video in video_list %}
        <a href="{% url 'video_detail' video_id=video.id %}">
          <h4>
            {{video.title}}
          </h4>
        </a>
      {% endfor %}
    </div>
  </div>
</body>
</html>